/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: "Poppins";
  font-size: 14px;
  margin-top:90px;
  margin-left: 15px;
  background-color: #43555c;
  color: white;
    
}

/* Header */

.headerMenu{
   margin-left: auto;
   justify-content: flex-end !important;
    
}
.menuIcon{
    display: flex;
    margin-left: auto ;
    justify-content: flex-end !important;
}

.menu-appbarMobile  {  
    background-color: #2f434a !important;
    color: white !important;
    text-transform: capitalize !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start !important;
  
    display: contents;

}








/* Footer Mobile */

.footerIcons {
    background-color: #2f434a;  
    color: #ACD8EC;  }

.bottomNavigation{
        background-color: #2f434a;
}

.footerContainer {
    /*position:'fixed';*/
    width: 100%;
    background-color: #2f434a !important;
    color: white !important;
    padding-bottom: 10px;
    text-align: center;
  
}
.footerText{
    font-family: 'Marcellus';
    font-size: 30px;
    font-stretch: 'expanded';
    margin-top:'auto';
    padding-top: 30px;
}
.registerBy{
    margin-top: 15px;
    font-size: 10px;
}

.buttonSx{
    color: 'white' !important;
}