/* Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: "Poppins";
  font-size: 14px;
  margin-top:90px;
  margin-left: 15px;
  background-color: #43555c;
  color: white;
    
}

/* Header */

.headerMenu{
   margin-left: auto;
   justify-content: flex-end !important;
    
}
.menuIcon{
    display: flex;
    margin-left: auto ;
    justify-content: flex-end !important;
}

.menu-appbarMobile  {  
    background-color: #C2CED6 !important;
    color: black !important;
    text-transform: capitalize !important;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: start !important;
    display: contents;
    opacity: 85%;
    


}

.css-6hp17o-MuiList-root-MuiMenu-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-color: #acd8ec !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    border-color: #2F434A !important;
}








/* Footer Mobile */

.footerIcons {
    background-color: #2f434a;  
    color: #ACD8EC;  }

.bottomNavigation{
        background-color: #2f434a;
}

.footerContainer {
    /*position:'fixed';*/
    width: 100%;
    background-color: #2f434a !important;
    color: white !important;
    padding-bottom: 10px;
    text-align: center;
  
}
.footerText{
    font-family: 'Marcellus';
    font-size: 30px;
    font-stretch: 'expanded';
    margin-top:'auto';
    padding-top: 30px;
}
.registerBy{
    margin-top: 15px;
    font-size: 10px;
}

.buttonSx{
    color: 'white' !important;
}