/* Body */
body {
    background-color: #43555c;
    color: white;
    
}


/* Footer Mobile */

.footerIcons {
    background-color: #2f434a;  
    color: #ACD8EC;  }

.bottomNavigation{
        background-color: #2f434a;
}

.footerContainer {
    position:'fixed';
    width: 100%;
    background-color: #2f434a !important;
    color: white !important;
    padding-bottom: 15px;
    text-align: center;
  
}
.footerText{
    font-family: 'Marcellus';
    font-size: 30px;
    font-stretch: 'expanded';
    margin-top:'auto';
    padding-top: 30px;
}
.registerBy{
    margin-top: 15px;
    font-size: 10px;
}